body {
  background-image: url("https://media.istockphoto.com/id/1322277517/uk/фото/дика-трава-в-горах-на-заході-сонця.jpg?s=612x612&w=0&k=20&c=aZ4txqFK9gct4JWpoPa6QKfTZ6Bre60aMkHx3CeS75U=");
  background-size: cover;
  background-color: rgb(243, 243, 234);
  font-family: "Montserrat", sans-serif;
}

.weather-app-container {
  margin: 20px 200px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(4, 4, 4, 0.2);
}

.header-text,
.header-seach,
.current-location-button {
  background-color: rgb(243, 243, 234);
  border-radius: 5px;
  border: 1px solid rgba(174, 168, 168, 0.5);
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  margin: 2px;
}

.header-text {
  border: none;
  color: grey;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 7px 5px;
}

.header-seach {
  color: #2c5d63;
  font-weight: 500;
  padding: 7px 5px;
}

.header-seach:hover {
  background: #2c5d63;
  color: rgb(243, 243, 234);
  cursor: pointer;
}

.current-location-button {
  padding: 7px 5px;
}

.current-location-button:hover {
  background: #2c5d63;
  color: rgb(243, 243, 234);
  cursor: pointer;
}

.header-datatime {
  color: #2c5d63;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin: 10px 35px;
}

.hero-title {
  color: #2c5d63;
  font-size: 60px;
  line-height: 62px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline-table;
  margin: 0 auto;
}

.weather-temperature {
  color: #2c5d63;
  font-size: 70px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.celsius,
.fahrenheit {
  text-decoration: none;
  color: #2c5d63;
  font-size: 60px;
  line-height: 62px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.celsius:hover,
.fahrenheit:hover,
.celsius:focus,
.fahrenheit:focus {
  color: #2c5d63;
  font-weight: 700;
  cursor: pointer;
}

.weather-condition {
  color: #f48db4;
  font-size: 45px;
  line-height: 47px;
  font-weight: 700;
  margin: 0 30px;
}

.weather-humidity,
.weather-wind {
  color: #2c5d63;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 auto;
}

.row {
  display: -webkit-inline-flex;
  text-align: center;
  margin: 0 20px;
}

.card-body {
  background-image: url("https://media.istockphoto.com/id/1322277517/uk/фото/дика-трава-в-горах-на-заході-сонця.jpg?s=612x612&w=0&k=20&c=aZ4txqFK9gct4JWpoPa6QKfTZ6Bre60aMkHx3CeS75U=");
  background-size: cover;
  color: rgb(243, 243, 234);
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(57, 55, 55, 0.5);
}

.card-title {
  color: #2c5d63;
  font-size: 20px;
  line-height: 22px;
  font-weight: 800;
}

.footer {
  color: rgb(243, 243, 234);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}

.creator-link {
  color: rgb(243, 243, 234);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}

.creator-link:hover {
  color: rgb(243, 243, 234);
  font-weight: 800;
  cursor: pointer;
}
